@charset 'UTF-8';

/*=========================================================
1. 폰트
=========================================================*/

/* Lato */
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap');

/* 본고딕 */
@font-face {
	font-family: "Noto Sans KR";
	font-weight: normal;
	font-style: normal;
	src: local("※"), 
	url("../fonts/notokr-regular.eot"), 
	url("../fonts/notokr-regular.eot?#iefix") format("embedded-opentype"),
	url("../fonts/notokr-regular.woff2") format("woff2"), 
	url("../fonts/notokr-regular.woff") format("woff");
}

@font-face {
	font-family: "Noto Sans KR";
	font-weight: 500;
	font-style: normal;
	src: local("※"), 
	url("../fonts/notokr-medium.eot"), 
	url("../fonts/notokr-medium.eot?#iefix") format("embedded-opentype"),
	url("../fonts/notokr-medium.woff2") format("woff2"), 
	url("../fonts/notokr-medium.woff") format("woff");
}

@font-face {
	font-family: "Noto Sans KR";
	font-weight: 700;
	font-style: normal;
	src: local("※"), 
	url("../fonts/notokr-bold.eot"), 
	url("../fonts/notokr-bold.eot?#iefix") format("embedded-opentype"),
	url("../fonts/notokr-bold.woff2") format("woff2"), 
	url("../fonts/notokr-bold.woff") format("woff");
}

@font-face {
	font-family: "Noto Sans KR";
	font-weight: 900;
	font-style: normal;
	src: local("※"), 
	url("../fonts/notokr-black.eot"), 
	url("../fonts/notokr-black.eot?#iefix") format("embedded-opentype"),
	url("../fonts/notokr-black.woff2") format("woff2"), 
	url("../fonts/notokr-black.woff") format("woff");
}

/* 나눔스퀘어 */
@font-face {
    font-family:"Nanum Square";
    font-weight:300;
    font-style:normal;
    src:local("※"),
    url("../font/nsquare_light.eot?#iefix") format("embedded-opentype"),
    url("../font/nsquare_light.woff") format("woff"),
    url("../font/nsquare_light.ttf") format("truetype"),
    url("../font/nsquare_light.otf") format("opentype");
}

@font-face {
    font-family:"Nanum Square";
    font-weight:normal;
    font-style:normal;
    src:local("※"),
    url("../font/nsquare_regular.eot?#iefix") format("embedded-opentype"),
    url("../font/nsquare_regular.woff") format("woff"),
    url("../font/nsquare_regular.ttf") format("truetype"),
    url("../font/nsquare_regular.otf") format("opentype");
}

@font-face {
    font-family:"Nanum Square";
    font-weight:700;
    font-style:normal;
    src:local("※"),
    url("../font/nsquare_bold.eot?#iefix") format("embedded-opentype"),
    url("../font/nsquare_bold.woff") format("woff"),
    url("../font/nsquare_bold.ttf") format("truetype"),
    url("../font/nsquare_bold.otf") format("opentype");
}

@font-face {
    font-family:"Nanum Square";
    font-weight:900;
    font-style:normal;
    src:local("※"),
    url("../font/nsquare_extrabold.eot?#iefix") format("embedded-opentype"),
    url("../font/nsquare_extrabold.woff") format("woff"),
    url("../font/nsquare_extrabold.ttf") format("truetype"),
    url("../font/nsquare_extrabold.otf") format("opentype");
}

/*=========================================================
2. 리셋
=========================================================*/

html {font-size:1em; letter-spacing:0em;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,button {-webkit-box-sizing:border-box;box-sizing:border-box; margin:0; padding:0; border:0; font-family:"Noto Sans KR",Dotum,"돋움",Helvetica,"Apple SD Gothic Neo",sans-serif; font-size:100%; vertical-align:baseline;}

input[type="text"],input[type="email"],input[type="number"],input[type="submit"],input[type="reset"],input[type="tel"],input[type="password"],input[type="url"],input[type="search"],input[type="file"],button,textarea {-webkit-box-sizing:border-box;box-sizing:border-box; margin:0; padding:0; border:none; border-radius:0; background:none; font-family:"Noto Sans KR",Dotum,"돋움",Helvetica,"Apple SD Gothic Neo",sans-serif; font-size:100%; letter-spacing:-0.04em; -webkit-appearance:none; -moz-appearance:none; appearance:none;}
body {position:relative; background:#fff; font-size:14px; line-height:1.8; color:#333; word-wrap:break-word; word-break:keep-all; -webkit-text-size-adjust:none; -moz-text-size-adjust:none;}
blockquote,q {quotes:none;}
/* input:focus,button:focus {border:none;} */
table {width:100%; background:#fff; table-layout:fixed; border-spacing:0; border-collapse:collapse;}
ul,ol,li {list-style:none;}
a {color:#333; text-decoration:none;}
button::-moz-focus-inner {margin-top:-2px; margin-bottom:-2px; padding:0; border:0;}
input::-moz-focus-inner {margin-top:-2px; margin-bottom:-2px; padding:0; border:0;}
img {max-width:100%; height:auto;}
button {cursor:pointer; background:transparent;}
button span {position:relative;}
textarea {resize:none;}
textarea:focus {outline:none;}
em,address,i {font-style:normal;}
:focus {outline:none;}
:invalid {-webkit-box-shadow:none;box-shadow:none;}
:-moz-submit-invalid {box-shadow:none;}
:-moz-ui-invalid {box-shadow:none;}
label {cursor:pointer;}

/* PC, 모바일 제어 */
.pc {display:block !important;}
.mobile {display:none !important;}

@media (max-width:1024px) {
	.pc {display:none !important;}
	.mobile {display:block !important;}
}

/* Hidden */
.hidden {overflow:hidden; clip:rect(0 0 0 0); position:absolute; width:1px; height:1px; margin:-1px; padding:0; border:0;}

/* Placeholder */
::-webkit-input-placeholder {font-weight:400; color:#ccc;}
::-moz-placeholder {font-weight:400; color:#ccc;}
:-ms-input-placeholder {font-weight:400; color:#ccc;}
:-moz-placeholder {font-weight:400; color:#ccc;}

/* 워드프레스 테마 리셋 */
html {overflow-y:scroll; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale;}
#buffer-extension-hover-button,.entry-footer,.skip-link,.post-edit-link,.screen-reader-text,.dropdown-toggle,.site-header svg,.menu-toggle,.submenu-expand,.mobile-parent-nav-menu-item,.main-menu-more {display:none !important;}
 
@media (max-width:599px) {
    #wpadminbar {position:fixed !important; top:0; left:0; z-index:1000;}
}

/*=========================================================
3. 공통 레이아웃
=========================================================*/

.content {padding:70px 0 100px;}
.container {position:relative; max-width:1260px; margin:0 auto; padding:0 30px;}
.container.wide {max-width:1400px; padding:0;}
.move_top {visibility:hidden; position:fixed; right:30px; bottom:100px; z-index:7; -webkit-transition:all 0.3s; transition:all 0.3s; opacity:0;}
.move_top.on {visibility:visible; bottom:110px; opacity:1;}
.move_top button {position:relative; width:30px; height:30px; border:1px solid #ca0464; background:#fff; line-height:1; text-align:center; text-indent:-9999px; -webkit-transition:all 0.3s; transition:all 0.3s;}
.move_top button:hover {background:#ca0464;}
.move_top button:before {position:absolute; top:5px; left:50%; width:0; height:0; margin-left:-6px; border-width:6px; border-style:solid; border-color:transparent transparent #ca0464 transparent; background:none; -webkit-transition:all 0.3s; transition:all 0.3s; content:"";}
.move_top button:hover:before {border-bottom-color:#fff;}

.ie9 {display:table; position:fixed; bottom:0; left:0; z-index:999; width:100%; min-height:100px; padding:5px 60px; background:#000;; font-size:14px; line-height:2em; color:#fff; text-align:center;}
.ie9 .inner {display:table-cell; vertical-align:middle;}
.ie9 .inner a {font-size:16px; font-weight:700; color:#fff;}
.ie9 button {overflow:hidden; position:absolute; top:20px; right:20px; width:30px; height:30px; background:url(../img/sprite/sprite.png); background-position:-10px -258px; text-indent:-9999px;}

@media (max-width:1024px) {
	
}

@media (max-width:599px) {
	.container {padding:0 15px;}
	.move_top {right:15px; bottom:50px;}
	.move_top.on {bottom:60px;}
}

/*=========================================================
4. Slick
=========================================================*/

.slick-slider{display:block;position:relative;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{display:block;overflow:hidden;position:relative;margin:0;padding:0}.slick-list:focus{outline:0}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{display:block;position:relative;top:0;left:0;margin-right:auto;margin-left:auto}.slick-track:after,.slick-track:before{display:table;content:""}.slick-track:after{clear:both}.slick-loading .slick-track{visibility:hidden}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir=rtl] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-loading .slick-slide{visibility:hidden}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}

/*=========================================================
5. 헤더
=========================================================*/

header {position:fixed; left:0; top:0; z-index:5; width:100%; height:100%; width:100%; height:70px; background:#fff; padding:10px 0;}
header h1 {}
header nav {}
header nav .main-menu {}
header nav .main-menu > li {float:left;}
header nav .main-menu > li > a {}
header nav .sub-menu {}
header nav .sub-menu > li {}
header nav .sub-menu > li > a {}

/* 워드프레스 관리자 헤더 커스터마이징 */
.admin-bar header {top:32px;}

@media (max-width:1024px) {
	.admin-bar header .menu_wrap {top:32px;}
	.admin-bar header .top_menu {bottom:47px;}
}

@media (max-width:782px) {
	.admin-bar header {top:46px;}
	.admin-bar header .menu_wrap {top:46px;}
	.admin-bar header .top_menu {bottom:61px;}
}

/*=========================================================
6. 푸터
=========================================================*/

footer {padding:30px 0 50px; background:#292b31; font-size:12px; color:#a7a9ac; line-height:1.8em;}
footer .bottom_list {overflow:hidden; margin:0 -12px;}
footer .bottom_list li {float:left; position:relative; padding:0 12px;}
footer .bottom_list li:after {position:absolute; top:50%; right:0; width:1px; height:10px; margin-top:-6px; background:rgba(255,255,255,0.5); content:"";}
footer .bottom_list li:last-child:after {display:none;}
footer .bottom_list li a {display:block; color:#fff;}
footer .info {margin-top:25px;}
footer .info > div {display:inline-block; overflow:hidden;}
footer .info dt {float:left;}
footer .info dt:after {content:":"; padding:0 0.3em;}
footer .info dd {float:left;}
footer .info dd a {color:inherit;}
footer .info .address {display:block;}
footer .copyright {margin-top:15px; font-family:"Lato";}
footer .copyright span {font-family:inherit; color:#a6c742;}

@media (max-width:1024px) {
	footer {padding:30px 0; line-height:1.5em;}
	footer .info {margin-top:15px;}
}

@media (max-width:599px) {
	footer {padding:15px 0;}
	footer .info > div {display:block;}
	footer .info dd {float:none;}
	footer .info .address {margin-top:10px;}
}

/*=========================================================
7. 모달, 로딩
=========================================================*/

/*=========================================================
8. 메인 페이지 스타일
=========================================================*/

/*=========================================================
9. 서브 페이지 스타일
=========================================================*/

/* 컨텐츠 박스 */
[data-sub-content] {padding:80px 0 100px;}
[data-sub-content] .cont_tit {margin-top:-10px; font-family:"Lato"; font-size:50px; font-weight:900; line-height:1.2em; text-transform:uppercase;}
[data-sub-content] .cont_tit.minor {font-size:40px;}
[data-sub-content] .cont_tit.inline {display:inline-block;}
[data-sub-content] .sub_tit,
[data-sub-content] .sub_txt {margin-top:-6px; font-size:30px; line-height:1.4em;}
[data-sub-content] .cont_tit + .sub_tit,
[data-sub-content] .cont_tit + .sub_txt {margin-top:10px;}
[data-content-box] {padding:50px 0;}
[data-content-box].bg {background:#efefef;}

@media (max-width:1024px) {
	[data-sub-content] {padding:30px 0 50px;}
	[data-sub-content] .cont_tit, 
	[data-sub-content] .cont_tit.minor {margin-top:0; font-size:32px;}
	[data-sub-content] .sub_tit,
	[data-sub-content] .sub_txt {margin-top:0; font-size:20px;}
	[data-content-box] {padding:30px 0;}
}

@media (max-width:599px) {
	[data-sub-content] .cont_tit, 
	[data-sub-content] .cont_tit.minor {font-size:24px;}
	[data-sub-content] .sub_tit,
	[data-sub-content] .sub_txt {font-size:16px;}
}

/* 미션&비전 */
.mission {}

/* 주요연혁 */

.history .tit_bx{ text-align: center;}
.history .history_cont {position: relative; }
.history .history_cont:before { content: ""; position: absolute; left: 50%; top: 0; height: 100%; width: 1px; background-color: #cdcdcd;}
.history dl { margin-top: -50px }
.history dl:after { content:""; display: table; clear: both;}
.history dl dt { float: left; width: 50%; font-size: 60px; line-height: 1.5em; color: #a6c742; font-weight: 900; font-family: "Lato"; text-align: right; padding-right: 55px; margin-top: -23px; }
.history dl dd {float: left; width: 50%; margin-top: -7px; }
.history .text_list ul li { font-size: 16px; line-height: 1.5em; margin-bottom: 25px; position: relative;  padding-left: 25px;}
.history .text_list ul li:last-child { margin-bottom: 0;}
.history .text_list ul li:before { content:""; position: absolute; left: -5px; top: 50%; width: 9px;height: 9px; border-radius: 50%; background-color: #fff; border: 1px solid #a6c742; -webkit-transform: translateY(-50%); transform: translateY(-50%); }











/* 고객사 */
.customer .customer_cont { position: relative; margin-top: -50px; padding-top: 50px;}
.customer .top_line:first-child:before { content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 1px; background-color: #cdcdcd; }
.customer .customer_cont:after { content:""; display: table; clear: both;}
.customer .customer_tit { float: left; width: 25%;}
.customer .customer_img {float: left; width: 75%; }
.customer .customer_img .img_list { line-height: 0; font-size: 0; margin-bottom: -20px; }
.customer .customer_img .img_list li { display: inline-block; padding: 0 30px 20px 0;}
.customer .customer_img a { display: block; line-height: 0; border: 1px solid #dfdfdf;}
@media (max-width:1024px) {
	.customer .customer_cont {margin-top: -30px; padding-top: 30px; }
	.customer .customer_img .img_list li { padding: 0 15px 10px 0;}
	.customer .customer_tit { float: none; width: 100%; margin-bottom: 30px;}
	.customer .customer_img { float: none; width: 100%;}
	.customer .customer_img img { width: 100px; height: 43px; }
}
@media (max-width:599px) {
	.customer .customer_img .img_list { margin-bottom: -15px; }
	.customer .customer_tit {margin-bottom: 15px; }
}

/* 찾아오시는길 */
.map .map_box {position: relative; height: 500px; width: 100%; }
.map .map_box iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #a6c742;}
.map .contact_box:after {content: ""; display: table; clear: both; }
.map .contact_box .contact_tit { float: left; width: 33%; }
.map .contact_box .contact_cont { float: left; width: 67%; }
.map .contact_box .icon_text > li { position: relative; padding: 6px 0 6px 92px; margin-bottom: 20px; }
.map .contact_box .icon_text > li:before {content: ""; position: absolute; left: 0; top: 0; width: 62px; height: 62px; border-radius: 50%; background-color: #a6c742; }
.map .contact_box .icon_text > li:last-child { margin-bottom: 0; }
.map .contact_box .text_harp { font-size: 0; line-height: 0; }
.map .contact_box .text_harp li { display: inline-block; padding-right: 50px;}
.map .contact_box .text_harp li:last-child{padding-right: 0; }
.map .contact_box .title { font-size: 18px; color: #222; line-height: 1.5em; font-weight: 700; font-family:"Nanum Square";}
.map .contact_box .text { font-size: 16px; color: #555; line-height: 1.5em;}
.map .contact_box .text a {color:inherit;} 

@media (max-width:1024px) {
	.map .map_box {height: 400px; }
	.map .contact_box .contact_tit { float: none; width: 100%; margin-bottom: 30px; }
	.map .contact_box .contact_cont { float: none; width: 100%; }
	.map .contact_box .title { font-size: 16px;}
	.map .contact_box .text { font-size: 14px;}
}

@media (max-width:599px) {
	.map .map_box { height: 300px;}
	.map .contact_box .contact_tit { margin-bottom: 15px;}
	.map .contact_box .text_harp li { display: block; margin-bottom: 15px;}
	.map .contact_box .text_harp li:last-child { margin-bottom: 0; }
	.map .contact_box .icon_text > li { padding: 0 0 0 50px;}
	.map .contact_box .icon_text > li:before { width: 31px; height: 31px; }
	.map .contact_box .title { font-size: 14px;}
	.map .contact_box .text { font-size: 12px;}
}
/*=========================================================
10. animate
=========================================================*/

/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.7.0
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2018 Daniel Eden
 */

@-webkit-keyframes fadeInUp {
	0% {-webkit-transform:translate3d(0, 50px, 0); transform:translate3d(0, 50px, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

@keyframes fadeInUp {
	0% {-webkit-transform:translate3d(0, 50px, 0); transform:translate3d(0, 50px, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

@-webkit-keyframes fadeInLeft {
	0% {-webkit-transform:translate3d(-50px, 0, 0); transform:translate3d(-50px, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

@keyframes fadeInLeft {
	0% {-webkit-transform:translate3d(-50px, 0, 0); transform:translate3d(-50px, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

@-webkit-keyframes fadeInRight {
	0% {-webkit-transform:translate3d(50px, 0, 0); transform:translate3d(50px, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

@keyframes fadeInRight {
	0% {-webkit-transform:translate3d(50px, 0, 0); transform:translate3d(50px, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:0;}
	100% {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform-origin:50% 50%; transform-origin:50% 50%; opacity:1;}
}

.fadeInUp {-webkit-animation-name:fadeInUp; animation-name:fadeInUp;}
.fadeInLeft {-webkit-animation-name:fadeInLeft; animation-name:fadeInLeft;}
.fadeInRight {-webkit-animation-name:fadeInRight; animation-name:fadeInRight;}
.wait-animation {opacity:0; -webkit-animation-play-state:paused; animation-play-state:paused;}
.animated {-webkit-animation-duration:1s;animation-duration:1s; -webkit-animation-fill-mode:both; animation-fill-mode:both; opacity:1 \0/IE8+9 !important;}